$blue: #06c3c6;
$blue10: #E2F8F9;
$yellow: #faaa1e;
$yellow10: #FFF7EB;
$violet60: #493fc7;
$violet80: #322999;
$violet10: #EEEDFD;
$black: #212331;
$gray: #454754;
$gray80: #75798a;
$gray60: #a9acbc;
$gray40: #e0e2eb;
$gray20: #f0f1f4;
$gray10: #f9f9fb;
$white: #ffffff;
