.smallbody {
  font-size: 14px;
  line-height: 20px;
}

.label {
  font-size: 12px;
  line-height: 18px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.caption {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

a {
  color: $violet;
  text-decoration: none;
  font-weight: 600;
}
