@import "variables";

body {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $black;

  @media (max-width: $screeen-md) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $screeen-sm) {
    font-size: 14px;
    line-height: 20px;
  }
}

.smallbody {
  font-size: 14px;
  line-height: 20px;
}

.label {
  font-size: 12px;
  line-height: 18px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  margin: 0;

  @media (max-width: $screeen-md) {
    font-size: 38px;
    line-height: 48px;
  }

  @media (max-width: $screeen-sm) {
    font-size: 28px;
    line-height: 36px;
  }
}

h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 0;

  @media (max-width: $screeen-md) {
    font-size: 38px;
    line-height: 48px;
  }

  @media (max-width: $screeen-sm) {
    font-size: 28px;
    line-height: 36px;
  }
}

h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.caption {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

a {
  color: $violet60;
  text-decoration: none;
  font-weight: 600;
}
