@import "colors";
@import "variables";

.accordion_prices {
  width: 100%;

  .accordion_prices_category_wrapper {
    margin-bottom: 16px;
    background: $white;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(33, 35, 44, 0.06);

    .accordion_prices_category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 32px;
      cursor: pointer;
      font-weight: 600;

      @media (max-width: $screeen-sm) {
        padding: 16px;
      }

      .accordion_prices_category_label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        word-break: break-word;

        @media (max-width: $screeen-xs) {
          font-size: 14px;
        }
      }

      .accordion_prices_category_button_wrapper {
        display: flex;
        justify-content: space-between;

        button {
          visibility: hidden;
        }

      }

      .accordion_prices_category_expand {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        color: $blue;

        img {
          margin-left: 16px;

          &.flip {
            transform: rotate(180deg);
          }
        }

        .accordion_label {
          @media (max-width: $screeen-sm) {
            display: none;
          }
        }
      }

      &--with-button {
        display: grid;
        grid-template-columns: auto 200px;
        grid-gap: 16px;

        @media (max-width: $screeen-sm) {
          grid-template-columns: auto 110px;
          grid-gap: 10px;
        }

        .accordion_prices_category_expand {
          img {
            @media (max-width: $screeen-sm) {
              margin-left: 6px;
            }
          }
        }
      }

      &--opened{
        .accordion_prices_category_button_wrapper{
          button {
            visibility: visible;
          }
        }

      }
    }

    .accordion_prices_category_items {
      height: 0;
      overflow: hidden;

      &--opened {
        height: 100%;
      }
    }
  }

  .accordion_prices_item {
    padding: 16px 0;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f1f4;

    @media (max-width: $screeen-sm) {
      margin: 0;
      padding: 16px;
    }
  

    .accordion_prices_name {
      padding-right: 20px;

      .accordion_prices_item_label {
        font-size: 16px;
        line-height: 24px;

        @media (max-width: $screeen-sm) {
          font-size: 14px;
          line-height: 20px;
        }
        @media (max-width: $screeen-xs) {
          font-size: 12px;
          line-height: 18px;
        }
      }

      .accordion_prices_item_sub {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .accordion_prices_item_button_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $screeen-xs) {
        flex-direction: column;
        justify-content: center;
      }

      .accordion_prices_item_price {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $violet60;
        white-space: nowrap;

        @media (max-width: $screeen-xs) {
          margin-bottom: 6px;
        }
      }
    }

    &--with-button {
      display: grid;
      grid-template-columns: auto 160px;
      grid-gap: 16px;
      align-items: center;

      @media (max-width: $screeen-xs) {
        grid-template-columns: auto 85px;
      }

      .accordion_prices_name {
        padding-right: 0;
      }
    }
  }
}
