@import "colors";
@import "variables";

.accordion_prices {
  width: 100%;

  .accordion_prices_category_wrapper {
    margin-bottom: 16px;
    background: $white;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(33, 35, 44, 0.06);

    .accordion_prices_category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 32px;
      cursor: pointer;
      font-weight: 600;

      @media (max-width: $screeen-sm) {
        padding: 16px;
      }

      .accordion_prices_category_label {
        font-size: 16px;
        line-height: 24px;
      }

      .accordion_prices_category_expand {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        color: $blue;

        img {
          margin-left: 16px;

          &.flip {
            transform: rotate(180deg);
          }
        }

        .accordion_label {
          @media (max-width: $screeen-sm) {
            display: none;
          }
        }
      }
    }

    .accordion_prices_category_items {
      height: 0;
      overflow: hidden;

      &--opened {
        height: 100%;
      }
    }
  }

  .accordion_prices_item {
    padding: 16px 0;
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray20;

    @media (max-width: $screeen-sm) {
      margin: 0;
      padding: 16px;
    }

    .accordion_prices_name {
      padding-right: 30px;
    }

    .accordion_prices_item_label {
      font-size: 16px;
      line-height: 24px;

      @media (max-width: $screeen-sm) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .accordion_prices_item_sub {
      font-size: 12px;
      line-height: 18px;
    }

    .accordion_prices_item_price {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $violet60;
      white-space: nowrap;
    }
  }
}
