@import "colors";
@import "variables";

/////////
.contact_modal {
  background-image: none;

  .modal_body {
    padding: 0;

    .registration_wrappper,
    .operations_wrappper {
      background: none;
      padding: 0 20px;
      height: auto;
      margin: 0;
      width: 100%;
      &,
      * {
        color: $black !important;
        text-align: left;
      }

      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
      }

      .registration_hours {
        margin-bottom: 16px;

        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: normal;

          strong {
            font-weight: bold;
          }
        }
      }

      .contact_info_wrapper {
        border-top: 1px solid $gray20;
        border-bottom: 1px solid $gray20;
        width: 100%;
        margin: 0;
        padding: 20px 0;

        &:first-of-type {
          border-bottom: none;
        }

        .phone-number {
          font-size: 16px;
          line-height: 24px;
        }

        .phone_button, .mail_button {
          margin-right: 0;
        }
      }

      .contact_person_details {
        display: none;
      }
    }

    .operations_wrappper {
      margin-top: 48px;

      .contact_person {
        margin-bottom: 16px;
      }

      .contact_info_wrapper {
        display: block;
      }
    }
  }
}
/////////

.contact_nav_button {
  .contact_nav_button_desktop_label {
    display: block;
    @media (max-width: $screeen-lg) {
      display: none;
    }
  }

  .contact_nav_button_mobile_label {
    display: none;
    @media (max-width: $screeen-lg) {
      display: block;
    }
  }
}

.registration_wrappper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 56px;

  width: 466px;
  height: 351px;

  background: $blue10;
  border-radius: 88px 8px;
  margin-bottom: 32px;

  h4 {
    margin-bottom: 16px;
  }

  .registration_hours {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;

    p {
      margin: 0;
    }
  }

  .contact_info_wrapper {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;

    .phone_button, .mail_button {
      margin-right: 16px;
    }
  }
}

.operations_wrappper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 56px;

  width: 466px;
  height: 208px;

  background: $yellow10;
  border-radius: 8px 88px;

  h4 {
    margin-bottom: 16px;
  }

  .contact_person {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .contact_person_details {
    font-size: 16px;
    line-height: 24px;

    p {
      margin: 0;
    }
  }

  .contact_info_wrapper {
    display: none;
  }
}

.contact {
  max-width: $screeen-lg;
  margin: 0 auto;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 49fr 41fr;
  grid-column-gap: 120px;

  @media (max-width: $screeen-lg) {
    padding: 0 20px;

    display: flex;
    grid-gap: 0;
  }

  .contact_cities {
    h1 {
      margin-bottom: 24px;
    }
    .contact_cities_instructions {
      color: $gray;
      margin-bottom: 56px;
    }

    .contact_cities_list_wrapper {
      @media (max-width: $screeen-lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      @media (max-width: $screeen-md) {
        grid-template-columns: 1fr;
        grid-gap: 0;
      }

      .contact_list_item {
        background: $white;
        border: 1px solid $gray40;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        color: $black;

        &:hover {
          background: $violet10;
          color: $violet60;
        }
      }
    }
  }

  .contact_details_wrappper {
    @media (max-width: $screeen-lg) {
      display: none;
    }

    .contact_details_wrappper_sticky {
      position: sticky;
      top: 100px;
    }
  }
}
