@import "colors";
@import "variables";

@keyframes slidein {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(133, 134, 134, 0.3);
  }

  70% {
    transform: scale(1.05) translateY(-2px);

    box-shadow: 0 0 25px 15px rgba(196, 196, 196, 0);
    @media (max-width: $screeen-sm) {
      transform: none;
      transform: scale(1) translateX(-5px);
    }
  }

  100% {
    transform: scale(1) translateY(200px);
    box-shadow: 0 0 0 0 rgba(231, 231, 231, 0.3);
    display: none;

    @media (max-width: $screeen-sm) {
      transform: none;
      transform: scale(0.95) translateX(600px);
    }
  }
}

@keyframes slideinMobile {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(133, 134, 134, 0.3);
  }

  70% {
    transform: translateX(-2px) scale(1.02);
    box-shadow: 0 0 25px 15px rgba(196, 196, 196, 0);
  }

  100% {
    transform: scale(1) translateX(-600px);
    box-shadow: 0 0 0 0 rgba(231, 231, 231, 0.3);
    display: none;
  }
}

.cookies_info_wrapper {
  line-height: 16px;
  font-size: 12px;
  padding: 10px;
  color: $gray80;
  cursor: pointer;

  z-index: 5;
  width: 760px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  left: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: $screeen-sm) {
    width: 98%;
    bottom: 60px;
    left: 1%;
  }

  .cookie_agree {
    font-weight: 400;
    color: $violet60;
  }
  animation-fill-mode: both;

  &.animate {
    animation: slidein 0.5s ease 0s forwards;

    @media (max-width: $screeen-sm) {
      animation: slideinMobile 0.5s ease 0s forwards;
    }
  }
}

body {
  &[type="article"],
  &[type="tags"],
  &[type="cennik"],
  &[type="blog"] {
    .cookies_info_wrapper {
      @media (max-width: $screeen-sm) {
        bottom: 0;
      }
    }
  }
}
