@import "colors";
@import "variables";

.covid_wrapper {
  background: url("../img/covid-bg.png");
  background-repeat: no-repeat;
  background-color: $gray;
  padding: 30px 32px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;

  @media (max-width: $screeen-sm) {
    // border-radius: 2px 40px;
    padding: 30px 16px;
  }

  .covid_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $screeen-lg;
    margin: 0 auto;

    @media (max-width: $screeen-sm) {
      flex-direction: column;
    }

    .covid_container_text_wrapper {
      max-width: 585px;
      display: flex;
      align-items: center;

      @media (max-width: $screeen-sm) {
        margin-bottom: 24px;
        flex-direction: column;
        text-align: center;
      }

      h5 {
        color: $white;
       
        @media (max-width: $screeen-sm) {
          font-weight: normal;
        }
      }

      img {
        display: block;
        margin-right: 16px;
        @media (max-width: $screeen-sm) {
          margin: 0;
          margin-bottom: 24px;
        }
      }
    }
  }

  .covid_modal_body {
    .covid_modal_body_icon_wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;

      img {
        width: 128px;
        display: block;


        @media (max-width: $screeen-xs) {
          width: 64px;
        }
      }
    }

    h5 {
      text-align: center;
      margin-bottom: 40px;
    }

    ol {
      list-style: none;
      counter-reset: li;
      padding: 0;
      margin: 0;
    }

    li {
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 16px;
      counter-increment: li;

      &::before {
        content: "." counter(li);
        color: $blue;
        display: inline-block;
        width: 1em;
        font-weight: bold;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl;
      }
    }
  }
}
