@import "colors";
@import "variables";

.faq_card {
  background: $white;
  border-radius: 8px;
  margin-right: 24px;
  display: flex;
  padding: 16px 0 16px 16px;
  box-sizing: border-box;

  @media (max-width: $screeen-md) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  @media (max-width: $screeen-sm) {
    flex-direction: column;
    padding: 16px;
  }

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }

  .image {
    @media (max-width: $screeen-md) {
      display: none;
    }
  }

  .image_mobile {
    display: none;
    margin: 0 auto;

    @media (max-width: $screeen-md) {
      display: block;
    }
    @media (max-width: $screeen-sm) {
      width: 70%;
    }
    @media (max-width: $screeen-xs) {
      width: 100%;
    }
  }

  h4 {
    margin: 0 24px 8px 24px;

    @media (max-width: $screeen-sm) {
      margin: 8px;
      margin-top: 16px;
    }
  }

  .smallbody {
    margin: 0 24px;
    color: $gray;
    font-size: 12px;
    margin-bottom: 0 !important;

    @media (max-width: $screeen-sm) {
      margin: 0 8px;
    }
  }

  
}
