@import "colors";

.hero {
  padding: 88px 0;

  .hero-inner {
    max-width: 1152px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50fr 3fr 45fr;

    .one-liner-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .one-liner-text {
        color: $gray;
      }

      .buttons {
        .button {
          margin-right: 16px;
        }
      }
    }

    .image-wrapper {
      img {
        max-width: 100%;
      }
    }
  }
}
