@import "colors";
@import "variables";

@mixin home_section {
  padding: 0 64px;

  @media (max-width: $screeen-lg) {
    padding: 0;
  }
}

@mixin cards_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 24px;
  margin-bottom: 65px;

  @media (max-width: $screeen-md) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@mixin container_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $screeen-lg;
  margin: 0 auto;

  @media (max-width: $screeen-xs) {
    align-items: initial;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: $screeen-md) {
      margin-top: 40px;
    }

    .button {
      @media (max-width: $screeen-sm) {
        width: 45%;
        margin-right: 0;
      }

      @media (max-width: $screeen-xs) {
        width: 80%;
      }
    }
  }
}

.home_offer {
  @include home_section;

  .offer_container {
    @include container_section;

    .cards {
      @include cards_section;
    }
  }
}

.home_why_us {
  @include home_section;

  .why_us_container {
    @include container_section;

    .cards {
      @include cards_section;
    }
  }
}

.home_reviews {
  @include home_section;

  .reviews_container {
    @include container_section;

    .cards {
      @include cards_section;
    }
  }
}

.home_faq {
  @include home_section;

  .faq_container {
    @include container_section;

    .cards {
      @include cards_section;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.home_risk_group {
  @include home_section;

  .risk_group_container {
    @include container_section;

    padding: 0 20px;

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 56px 24px;
      margin-bottom: 65px;

      @media (max-width: $screeen-md) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: $screeen-xs) {
        gap: 30px 22px;

        margin-bottom: 40px;
      }
    }
  }
}

.home_abcde {
  @include home_section;

  .abcde_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $screeen-lg;
    margin: 0 auto;
    padding: 0 20px;

    .top_iframe {
      display: none;
      width: 100%;
      height: calc(100vw / 1.77);

      margin-bottom: 40px;

      @media (max-width: $screeen-sm) {
        display: block;
      }
    }
  }
}
