@import "colors";

.home_offer {
  padding: 0 64px;
}
  
.home_why_us {
  padding: 0 64px;
}
  
.home_reviews {
  padding: 0 64px;
}
  
.home_faq {
  padding: 0 64px;
}
  
.home_risk_group {
  padding: 0 64px;
}
  
