@import "colors";
@import "variables";

@mixin home_section {
  padding: 0 64px;

  @media (max-width: $screeen-lg) {
    padding: 0;
  }
}

@mixin cards_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 24px;
  margin-bottom: 65px;

  @media (max-width: $screeen-md) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

@mixin container_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $screeen-lg;
  margin: 0 auto;

  @media (max-width: $screeen-xs) {
    align-items: initial;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: $screeen-md) {
      margin-top: 40px;
    }

    .button {
      @media (max-width: $screeen-sm) {
        width: 45%;
        margin-right: 0;
      }

      @media (max-width: $screeen-xs) {
        width: 80%;
      }
    }
  }
}

.home_offer {
  @include home_section;

  .container {
    @include container_section;

    .cards {
      @include cards_section;
    }
  }
}

.home_why_us {
  @include home_section;

  .container {
    @include container_section;

    .cards {
      @include cards_section;
    }
  }
}

.home_important_info {
  @include home_section;

  .container {
    @include container_section;

    .cards {
      @include cards_section;

      grid-gap: 0 24px;
      padding: 0;
    }
  }
}

.home_reviews {
  @include home_section;

  .container {
    @include container_section;

    .cards {
      @include cards_section;
    }
  }
}

.home_melanoma {
  @include home_section;

  .container {
    @include container_section;

    padding: 0 24px;

    .two_column_section_container {
      flex-direction: column-reverse;
    }

    .home_melanoma_left_column {
      @media (min-width: $screeen-lg) {
        padding-right: 30px;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.home_dermoscopy {
  @include home_section;

  .section_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: $gray80;
  }

  .section_buttons {
    margin-top: 32px;
  }

  .two_column_section {
    padding-bottom: 0;
  }

  .container {
    @include container_section;

    padding: 0 24px;

    .two_column_section_container {
      flex-direction: column-reverse;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.home_videodermoscopy {
  @include home_section;

  .section_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: $gray80;
  }

  .section_buttons {
    margin-top: 32px;
  }

  .container {
    @include container_section;

    padding: 0 24px;

    img {
      display: block;
      width: 100%;
    }
  }
}


.home_surgery {
  @include home_section;

  .section_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: $gray80;
  }

  .section_buttons {
    margin-top: 32px;
  }

  .two_column_section {
    padding-bottom: 0;
  }

  .container {
    @include container_section;

    padding: 0 24px;

    .two_column_section_container {
      flex-direction: column-reverse;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}


.home_faq {
  @include home_section;

  .container {
    @include container_section;

    .cards {
      @include cards_section;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.home_risk_group {
  @include home_section;

  .container {
    @include container_section;

    padding: 0 24px;

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 56px 24px;
      margin-bottom: 65px;

      @media (max-width: $screeen-md) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: $screeen-xs) {
        gap: 30px 22px;

        margin-bottom: 40px;
      }
    }
  }
}

.home_abcde {
  @include home_section;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $screeen-lg;
    margin: 0 auto;
    padding: 0 24px;

    .top_iframe {
      display: none;
      width: 100%;
      height: calc(100vw / 1.77);

      margin-bottom: 40px;

      @media (max-width: $screeen-sm) {
        display: block;
      }
    }
  }
}

.home_covid {
  @include home_section;
  margin-top: 64px;

  @media (max-width: $screeen-lg) {
    padding: 0 24px;
  }
}

.home_price_list {
  @include home_section;

  .container {
    @include container_section;
    padding: 0 24px;
  }
}

.home_procedure_details {
  @include home_section;

  .container {
    @include container_section;

    .cards {
      @include cards_section;

      grid-template-columns: 1fr 1fr;
      grid-gap: 0 48px;
      width: 100%;
    }
  }
}

.home_location {
  @include home_section;
}

.home_cta {
  @include home_section;

  margin-top: 64px;
  margin-bottom: 64px;
}
