@import "colors";

.mail_button {
  background: $blue;
  border: none;
  outline: none;
  width: 36px;
  height: 36px;
  border-radius: 58px;
  padding: 10px;

  img {
    width: 16px;
    height: 16px;
  }
}
