@import "colors";
@import "variables";

.map_poland {
  background: url("../img/poland.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 485px;

  .map_pins_wrapper {
    position: relative;

    width: 460px;
    height: 440px;

    .map_pin_wrapper {
      position: relative;
      cursor: pointer;

      .marker_bubble {
        z-index: 1;
        background: $white;
        border-radius: 8px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: -10px;

        transform: translate(-50%, -130%);
        padding: 24px;
        color: $gray;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.15);

        @media (max-width: $screeen-sm) {
          padding: 16px;
        }

        &::before {
          content: " ";
          width: 25px;
          height: 25px;
          background: $white;
          position: absolute;
          bottom: -5px;
          border-radius: 5px;
          transform: rotate(45deg);
          z-index: 0;
        }

        * {
          z-index: 2;
          text-align: center;
        }

        .buble_title {
          font-weight: 600;
          margin: 0;
          font-size: 16px;
          line-height: 24px;
        }

        .buble_link {
          margin: 0;

          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: $violet60;

            &:hover {
              color: $violet80;
            }
          }
        }
      }

      .map_pin_backdrop {
        display: none;
        background: $violet60;
        position: absolute;
        transform: translate(-50%, -60%);
        opacity: 0.2;
        width: 128px;
        height: 128px;
        border-radius: 128px;
        pointer-events: none;
      }

      .map_pin {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 35px 40px;
        background-position: bottom;

        padding: 30px;
        width: 35px;
        height: 40px;
        transform: translate(-50%, -100%);

        &--current {
          background-image: url("../img/pin_current.svg");
        }

        &--future {
          background-image: url("../img/pin_future.svg");
          cursor: auto;
        }
      }

      &--hovered {
        .marker_bubble {
          display: flex;
        }

        .map_pin_backdrop {
          display: block;
        }

        .map_pin {
          background-image: url("../img/pin_hover.svg");
        }
      }
    }
  }
}
