@import "colors";
@import "variables";

$scale-down-breakpoint: 1350px;

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 20fr 56fr 24fr;
  height: 120px;
  z-index: 3;

  @media (max-width: $scale-down-breakpoint) {
    grid-template-columns: 14fr 56fr 24fr;
  }

  @media (max-width: $screeen-lg) {
    grid-template-columns: 35% 1fr 7%;
    height: auto;
    margin-top: 5px;
  }

  @media (max-width: $screeen-md) {
    grid-template-columns: 35% 1fr 10%;
    height: auto;
    margin-top: 5px;
  }
  @media (max-width: $screeen-xs) {
    grid-template-columns: 35% 1fr 15%;
    height: auto;
    margin-top: 5px;
  }

  &,
  * {
    transition: all 0.1s;
    // transition: background-color 0s;
  }

  .logo {
    display: flex;
    align-items: center;
    padding-left: 11%;

    @media (max-width: $screeen-lg) {
      padding-left: 20px;
    }

    @media (max-width: $screeen-sm) {
      padding-left: 10px;
    }

    a,
    img {
      height: 48px;
      width: 142px;

      @media (max-width: $screeen-lg) {
        height: 34px;
        width: 102px;
      }
    }
  }

  .navigation-items-mobile {
    display: none;
    cursor: pointer;

    @media (max-width: $screeen-lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    img {
      @media (min-width: $screeen-xs) {
        transform: scale(1.5);
      }
    }
  }

  .navigation-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: $screeen-lg) {
      display: none;
    }

    &--opened {
      @media (max-width: $screeen-lg) {
        position: fixed;
        display: flex;
        padding-top: 30px;
        padding-bottom: 40px;
        top: 48px;
        bottom: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        justify-content: flex-start;
        overflow: scroll;

        .navigation-item {
          box-shadow: none !important;
          width: 100%;

          &.dropdown {
            .submenu {
              box-shadow: none !important;
              position: relative !important;

              padding: 10px 0 0 0 !important;

              max-width: 75% !important;
              margin: 0 auto !important;

              .navigation-item {
                font-size: 16px;
                padding-left: 10px;
              }
            }

            &--opened {
              .submenu {
                display: flex !important;
              }
            }
          }

          .heading {
            display: flex;
            flex-direction: row;
            width: 75%;
            margin: 0 auto;
            justify-content: space-between;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;

            img {
              &.flip {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }

  .navigation-item {
    color: $gray;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
    white-space: nowrap;

    &:hover {
      color: $violet60;
    }

    &.dropdown {
      position: relative;

      &:hover {
        color: $gray;
        background: $white;
        box-shadow: 5px 8px 11px rgba(0, 0, 0, 0.1);
      }

      .submenu {
        position: absolute;
        display: none;

        background: white;
        flex-direction: column;
        padding: 10px 10px;
        box-shadow: 5px 8px 11px rgba(0, 0, 0, 0.1);
        white-space: nowrap;

        padding-left: 15px;
        padding-bottom: 10px;
        left: 0;
        z-index: 100;

        @media (min-width: $screeen-lg) {
          min-width: 100%;
        }

        .navigation-item {
          line-height: 40px;
          padding: 0;
        }
      }

      @media (min-width: $screeen-lg) {
        &:hover {
          .submenu {
            display: flex;
          }
        }
      }
    }
  }

  @media (min-width: $screeen-lg) {
    .heading {
      img {
        display: none;
      }
    }
  }

  .navigation-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: $screeen-lg) {
      justify-content: flex-end;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 88px;
      width: 1px;
      background: rgba(0, 0, 0, 0.08);

      @media (max-width: $screeen-lg) {
        display: none;
      }
    }

    .phone-wrapper {
      display: flex;
      align-items: center;
      margin-right: 24px;
      color: $black;

      @media (max-width: $screeen-lg) {
        display: none;
      }
    }

    .phone-number {
      margin-left: 12px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      white-space: nowrap;

      @media (max-width: $scale-down-breakpoint) {
        font-size: 12px;
        margin-left: 8px;
      }
    }

    .normal-icon {
      @media (max-width: $scale-down-breakpoint) {
        transform: scale(0.75);
      }
    }

    .small-button {
      margin: 6px 0;
      display: none;
      @media (max-width: $screeen-lg) {
        display: block;
      }
    }
    .normal-button {
      display: block;
      @media (max-width: $screeen-lg) {
        display: none;
      }
    }
  }
}

.sticky {
  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: $white;
    height: 80px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 8px 8px;
    margin-top: 0;

    @media (max-width: $screeen-lg) {
      height: auto;
    }

    .navigation-contact {
      &::before {
        content: "";
        height: 64px;
      }
    }
  }
}
