@import "colors";

.navigation {
  display: flex;

  .logo{

  }

  .navigation-items {

  }

  .navigation-item {
    color: $gray;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .navigation-contact {
    
  }

}


