
@import "colors";

.risk_group_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
  text-align: center;


  img {
    margin-bottom: 24px;
  }

  h5 {
    font-weight: normal;
  }
}
