@import "colors";
@import "variables";

.why_us_card {
  background: $white;
  font-size: 20px;
  line-height: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 46px;
  box-sizing: border-box;
  text-align: center;

  @media (max-width: $screeen-md) {
    margin-right: 0;
    margin-bottom: 24px;
    padding-bottom: 0;
    padding-top: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  img {
    margin-bottom: 24px;
    min-height: 136px;
    min-width: 136px;
  }
}
